@supports (grid-area:auto){

.site{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 40px 115px 100px 60px 100px 100px 100px 100px 100px 100px 150px 40px;
  grid-template-areas:
    'hd hd hd hd hd hd hd hd'
    'nv nv nv nv nv nv nv nv'
    '. srch srch srch srch srch srch .'
    '. anc anc anc anc anc anc .'
    '. tsk tsk tsk . . . .'
    '. . . . al al al .'
    '. recs recs recs . . . .'
    '. . . . ct ct ct .'
    '. . . . kn kn kn .'
    '. wch wch wch wch wch wch .'
    'ft ft ft ft ft ft ft ft';
}

/* Top Header --------------------------*/
.header{
  grid-column: 1/9;
  background: #1f8be1;
  display:flex;
  align-items: center;
  color: white;
}

.header h2{
  position: absolute;
  right: 5em;
  transition: all .2s ease-in-out;
}

.header h2:hover{
  transform: scale(1.1);
}

/* Navigation --------------------------*/
.navbar{
  grid-column: 1/9;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url('../images/menu-background.png');
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}
.icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 80px;
  margin-left: 1%;
  margin-right: 1%;
}

/* Seach Bar --------------------------*/
.search{
  grid-column: 2/8;
  background: #33cc66;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  border-radius: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
}
  /* Search Form */
  .search-container{
    display: block;
    float: right;
  }

  .search .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .search input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 21px;
    border: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }

/* Announcements --------------------------*/
.announce{
  grid-column: 2/8;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #e9e9e9;
  border-radius: 0px;
}

.announce h3{
  color: #fe7f13;
}

.announce p{
  color: #777777;
}

/* Tasks --------------------------*/

.tasks{
  grid-column: 2/4;
  background: #ffffff;
  grid-row-end: span 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    'tk tk tk'
    'one one one'
    'two two two'
    'three three three';
  border: 1px solid #e9e9e9;
  border-top: none;
}

.tk{
  grid-column: 1/2;
}

.tk h2{
  color: #3c9ff5;
}

.one{
  grid-column: 1/2;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}

.one p{
  border: 1px solid #e9e9e9;
  border-top: none;
  background-color: #3c9ff5;
}

.two{
  grid-column: 1/2;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}

.three{
  grid-column: 1/2;
  display: flex;
  align-items:center;
  justify-content: space-evenly;
}

.person-number{
  display: flex;
  align-items: center;
  border: 1px solid #e9e9e9;
  border-radius: 3px;
  width: 50px;
  height: 30px;
  justify-content: space-evenly;

}


.ana{
  grid-column: 4/8;
  background: #B8DCF7;
  grid-row-end: span 3;
}

.recs{
  grid-column: 2/4;
  background: #105F59;
  grid-row-end: span 4;
}

.contact{
  grid-column: 4/8;
  background: #B0F7F4;
  grid-row-end: span 2;
}

.know{
  grid-column: 4/8;
  background: #6FD2EA;
}

.watch{
  grid-column: 2/8;
  background: #A2FA97;
}

.footer{
  grid-column: 1/9;
  background: #76BDF2;
}

@media screen and (max-width:767px){



  .tasks{
    grid-column: tsk;
    background: #2BB9AE;
    grid-row-end: span 2;
  }

  .ana{
    grid-column: al;
    background: #B8DCF7;
    grid-row-end: span 3;
  }

  .recs{
    grid-column: recs;
    background: #105F59;
    grid-row-end: span 4;
  }

  .contact{
    grid-column: ct;
    background: #B0F7F4;
    grid-row-end: span 2;
  }

  .know{
    grid-column: kn;
    background: #6FD2EA;
  }
  .watch{
    grid-column: wch;
    background: #A2FA97;
  }

  .footer{
    grid-column: ft;
    background: #76BDF2;
  }
}
}
